git+https://github.com/Rapptz/discord.py
PyNaCl ; sys_platform == 'linux'
import_expression
psutil
motor
aioredis
dpy-ui
Pillow ; sys_platform == 'linux'
contextvars ; python_version < '3.7'
numpy ; sys_platform == 'linux'
youtube_dl
aiostream
tabulate