git+https://github.com/Rapptz/discord.py
PyNaCl ; sys_platform == 'linux'
import_expression
psutil
motor
aioredis
dpy-ui
Pillow
contextvars ; python_version < '3.7'
numpy
youtube_dl
aiostream
tabulate